<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test frontend</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
</head>
<body>
    <div id="app">
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://www.netatmo.com">
              <img src="https://www.netatmo.com/images/common/logo_netatmo.svg" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>
          </div>
        </nav>
        <div class="container">
            <div class="section">
                <div class="columns">
                    <div class="column is-4">
                        <h1 class="title">To do list</h1>
                        <div class="field">
                            <label class="label">Add to list</label>
                            <div class="control">
                                <input class="input" type="text"
                                    v-model="newItem"
                                    placeholder="Add to list"
                                    @keyup.enter="addTodo" />
                            </div>
                        </div>
                        <article v-for="item in listItems" class="message is-info">
                            <div class="message-body level">
                                <p clas="level-left"> {{item}} </p>
                                <button class="level-right delete" @click="deleteTodo"></button>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                newItem: '',
                items: [
                    'Internet',
                    'Javascript',
                    'Vue js'
                ],
                showUncompletedTodos: false
            },

            computed: {
                listItems() {
                    return this.items;
                }
            },

            methods: {

                deleteTodo() {
                },

                addTodo() {
                }
            }
        })
    </script>
</body>
</html>