<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test frontend</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
    <style type="text/css">
        .line-through {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://www.netatmo.com">
              <img src="https://www.netatmo.com/images/common/logo_netatmo.svg" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>
          </div>
        </nav>
        <div class="container">
            <div class="section">
                <div class="columns">
                    <div class="column is-4">
                        <h1 class="title">To do list</h1>
                        <label class="subtitle checkbox">
                            <input type="checkbox" :checked="showIncompleteTodos" v-model="showIncompleteTodos" >
                            Show uncompleted todos
                        </label>
                        <div class="field">
                            <label class="label">Add to list</label>
                            <div class="control">
                                <input class="input" v-model="newItem" type="text" placeholder="Add to list"
                                    @keyup.enter="addToList()">
                            </div>
                        </div>
                        <article v-for="item in uncompletedTodos" class="message is-info">
                            <label class="checkbox message-body level" :class="{'line-through': item.done}">
                                <p clas="level-left">
                                    <input type="checkbox" :checked="item.done" @change="setDone(item)">
                                    {{item.name}}
                                </p>
                                <button class="level-right delete" @click="removeFromList(item)"></button>
                            </label>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script type="text/javascript">

    const app = new Vue({
        el: '#app',
        data: {
            newItem: '',
            showIncompleteTodos: false,
            items: [
                {'name': 'Internet', 'done': false},
                {'name': 'Javascript', 'done': false},
                {'name': 'Netatmo', 'done': false}
            ]
        },

        computed: {
            uncompletedTodos() {
                return this.showIncompleteTodos ? _.orderBy(this.items, 'done', 'desc') : this.items.filter(i => !i.done)
            }
        },

        methods: {

            removeFromList(item) {
                const index = this.items.indexOf(item)
                if(index > -1) {
                    this.items.splice(index, 1);
                }
            },

            addToList() {
                this.items.push({'name': this.newItem, 'done': false})
                this.newItem = ''
            },

            setDone(item) {
                const index = this.items.indexOf(item)
                if(index > -1) {
                    this.items[index].done = !this.items[index].done
                }
            }
        }
    })
</script>
</body>
</html>